/* portfolio page */
/*.masthead {
  background:
  width: 100vw;
  height: 100vh;
}*/
.bg-light {
  background-color: 0!important;
}



.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
  margin-right: 40px;

}

/*.color {
  color: white;
}*/

.my-div {
  border-color: white;
  background-color: teal;
  border: 1px solid black !IMPORTANT;

}

/* 
.work:nth-child {
} */

.work img {
  width: 100%;
  height: 300px;
  border: 0 none;
  opacity: 1 default;
}

.work h3 {
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 16px;
  margin-bottom: 0;
  font-weight: bold 50px;
  line-height: 20px;
  color: white;
  text-align: center;
  /*background: ;*/
  /* border-bottom: 0;*/
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color:black;
  cursor: pointer;
  background: gray;
  border: 0 none;
}

body {
  font-family:'Tinos', serif; 
  font-size: 18px;
  font-weight: 900;
  line-height: 34px;
  color: black;
  height: 100vh;
  background-image:linear-gradient(white, lightblue,white);
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* sticky footer styling */

/* https://css-tricks.com/snippets/css/sticky-footer/ */

html,
body {
  height: 100%;

}

.wrapper {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto -105px;
}

footer,
.push {
  margin-top: 50px;
}

/* end sticky footer styling */

/* start hover styling */

#logo:hover,
input[type=submit]:hover {
  background:white;
}

nav a:hover {
  color:teal;
}

.social:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* end hover styling */

/* general styling */

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: 'Noto Sans', sans-serif;;
  font-weight: bolder;
  color:black;

}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid black;
}

.port-header {
  border-top: 3px solid (241, 231, 231, 0.945);
}

h2,
h3 {
  font-size: 18px;
  color: black;
}
/* header */

#logo {
  float: left;
  width: 400px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: teal;
}

#mynav {
  width: 100%;
  background-color: teal;
  color: #fff;
}

nav {
  float: left;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color:gray;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

.img {
  background-position: center center;
}

nav a:first-child {
  border-left: 0 none;
}

/* footer */

footer {
  padding: 3%;
  clear: both;
  font-size: 12px;
  /*color: #fff;
  color: white;*/
  text-align: center;
  background: linear-gradient(white,grey);
  /*border-top: 8px solid #4aaaa5;*/
}

.fa-heart {
  color: red;
}
/* sidebar */

.sidebar {
  float: right;
  width: 100%;
  max-width: 270px;
  padding: 30px;
  margin-bottom: 20px;
  background: black;
  border: 1px solid black;
}

h3,
.sidebar h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;

}

.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}

.social:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 980px) {
  .container {
    padding: 0 20px;
    max-width: 768px;
  }

  #main-container {
    padding-top: 130px
  }

  .main-section {
    max-width: 420px;
  }

  .work {
    width: 100px;
  }

  .auth-image {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {

  .main-section,
  .sidebar {
    max-width: 100%;
  }

  #main-container {
    overflow: auto;
  }

  .sidebar {
    margin-bottom: 40px;
  }

  .work {
    width: 47%;
    margin-bottom: 10px;
  }

  .work:nth-child(even) {
    margin-right: 0;
  }

  .work:nth-child(odd) {
    float: right;
  }

  .auth-image {
    width: 50%;
  }

  @media only screen and (max-width: 640px) {
    #masthead {
      position: static;
      margin-bottom: 20px;
    }

    header.container {
      padding: 0;
    }

    #main-container {
      padding-top: 0;
    }

    .work {
      width: 100%;
      margin: auto;
    }

    nav {
      text-align: center;
      width: 100%;
      margin: 15px 0;
    }

    nav a {
      width: 30%;
      padding-left: 0;
      margin-left: 0;
    }
  }



}